* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Montserrat';
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

button, .switch {
  cursor : pointer;
}

.bg-white {
  background-color: white;
}

.bg-purple {
  background-color: #9599ec;
}

.container {
  background-image: url('../img/mobil-background.jpeg');
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f7f7fe;
  min-height: 100vh;
}

.header {
  text-align: center;
  padding-top: 64px;
}

.header h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 39.01px;
  text-align: center;
  color : #6E728E;
  margin-bottom: 40px;
}

.options {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.switch {
  appearance: none;
  background: linear-gradient(135deg, #A2A7F0 0%, #696EDD 100%);
  height: 22px;
  width: 35px;
  display: inline-flex;
  margin: 0;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 4px;
  transition: all .4s;
}

.switch:after {
  content: "";
  background-color: white;
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

.switch:hover {
  opacity: 0.5;
}

.switch:checked {
  background: linear-gradient(135deg, #A2A7F0 0%, #696EDD 100%);
  justify-content: end;
}

.options span {
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 700;
  line-height: 28px;
  color: #6E728E; 
  margin-inline : 24px; 
}

.inner-container {
  margin-inline : 24px;
  margin-top: 80px;
}

.cards {
  margin-inline : auto;
  max-width: 400px;
  padding-bottom: 71px;
  display: grid;
  grid-template-columns: 1fr;
}

.card {
  border-radius: 15px;
  padding : 30px 29px;
  margin-bottom: 20px;
}

.white-card-header {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  color : #6E728E;
}



.purple-card-header {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  color : #FFFFFF;
}

.price-area {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.price-symbol {
  font-size: 40px;
  font-weight: 700;
  line-height: 48.76px;
  letter-spacing: -1.2000000476837158px;
  text-align: center;
  color : #4A4D60;
  align-self: center;
}

.price-number {
  font-size: 72px;
  font-weight: 700;
  line-height: 71px;
  letter-spacing: -2.1600000858306885px;
  color : #4A4D60;
  margin-top: 24px;
  margin-bottom: 32px;
}

/* .white-card-line {
  border: 1px solid #6E728E;
}

.purple-card-line {
  border: 1px solid #FFFFFF;
} */

.white-card-items p {
  font-size: 15px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  color : #6E728E;
  margin-block : 12px;
}

.purple-card-items p {
  font-size: 15px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  color : #FFFFFF;
  margin-block : 12px;
}


.card button {
  margin-top: 32px;
  display: block;
  margin-inline : auto;
  width: 270px;
  border-radius: 15px;
  border-style: none;
}

.bg-purple p {
  color : white;
}

.purple-btn {
  width: 269px;
  height: 44px;
  padding: 14px 81px;
  font-size: 13px;
  font-weight: 700;
  line-height: 15.85px;
  letter-spacing: 1.3928571939468384px;
  text-align: center;
  background: linear-gradient(135deg, #A2A7F0 0%, #696EDD 100%);
  color : #FFFFFF;
}

.purple-btn:hover {
  background: #FFFFFF;
  border : 1px solid #6D72DE;
  color : #6D72DE;
}

.white-btn {
  width: 268px;
  height: 44px;
  padding: 14px 81px;
  font-size: 13px;
  font-weight: 700;
  line-height: 15.85px;
  letter-spacing: 1.3928571939468384px;
  text-align: center;
  background-color: #FFFFFF;
  color : #6D72DE;
}

.white-btn:hover {
  border : 1px solid #FFFFFF;
  background-color: #6D72DE;
  color : #FFFFFF;
}

@media (width>=1110px) {

  .container {
    background-image: url('../img/desktop-background.jpeg');
    background-position: left bottom;
    background-repeat: no-repeat;
  }

  .cards{
    margin-inline : auto;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3,350px);
  }

  .first-card {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .second-card {
    height: 501px;
    border-radius: 10px;
  }

  .third-card {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

  }
}